p {
    font-family: 'Roboto', sans-serif;
    color: black;
}

h1 {
    font-family: 'Rokkitt', serif;
    color: rgba(187, 87, 157, 0.644);
    transition: left 1s, transform 1s;
    white-space: nowrap;
    text-shadow: -1px -1px #f00, 1px 1px #a00, -3px 0 4px #000;
    font-family: "Segoe print", Arial, Helvetica, sans-serif;
    padding: 64px 0 0 0;
    margin: 16px auto;
    font-weight: lighter;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
    display: block;
    min-height: 172px;
    min-width: 800;
    max-height: 172px;
    max-width: 800px;
}

#bloc:hover h1 {
    left: 100%;
    transform: translateX(-20%);
}

.logo {
    height: 150px;
    max-width: 100%;
}

.film_1 {
    margin-top: 100px;
}

.imdb {
    width: 5%;
}

.metacritic {
    width: 5%;
}

.image_2 {
    width: 40%;
    margin-top: 5%;
    max-width: 100%;
}

body {
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
        background-color: rgba(255, 0, 0, 0.1);
    }

    50% {
        background-color: rgba(0, 255, 0, 0.1);
    }

    100% {
        background-color: rgba(0, 0, 255, 0.1);
    }
}

.poster {
    width: 45%;
}


#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: grey;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

.card-content:hover {
    border: 1px solid black;
}

.notation {
    display: flex;
    justify-content: start;
    font-weight: bold;
    align-items: center;
}

.metacritic{
    margin-left: 4%;
}

.caroussel {
    display: flex;
    justify-content: center;
}